.button {
	background-color:lightgray;
	border: none;
	color: Black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
	/* float:left; */
}
.button:hover {
    background-color: sandybrown;
  }

input[type=textbox]{
    height:50px;
    font-size:26pt;
}
